*.class
*.egg-info
*.orig
*.pyc
*.pyo
*.swp
*~
.Python/
.cache
.coverage
.coverage.*
.eggs/
.env/
.hypothesis
.hypothesis/
.idea
.lvimrc
.mypy_cache
.project
.pydevproject
.pytest_cache
.python-version
.ropeproject
.settings
.tox
.venv/
.vscode
/pythonenv*/
3rdparty/
__pycache__/
bin/
build/
coverage.xml
dist/
doc/*/.doctrees
doc/*/_build
doc/*/_changelog_towncrier_draft.rst
env/
htmlcov/
include/
issue/
lib/
pip-wheel-metadata/
pytestdebug.log
src/_pytest/_version.py
